.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container-qr {
  padding: 20px;
  background: white;
  margin: 20rem auto;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-qr img {
  border-radius: 10px;
  margin: 0px auto;
  max-width: 19rem;
  height: auto;
}

.container-qr h2 {
  color: hsl(218, 44%, 22%);
  font-family: 'Outfit', serif;
  width: 300px;
}
.container-qr p {
  color: hsl(216, 15%, 48%);
  font-size: 17px;
  font-family: 'Outfit', serif;
  line-height: 1.5;
  margin-top: -10px;
}

body {
  margin-top: -100px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #d6e1f0;
}
